html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: #faf6f0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }

form {
  margin-top: 2vh;
}

form > input {
  margin-left: 1vw;
}

form > input[type='submit'] {
  background:white;
  outline: none;
  border:2px solid orange;
  padding: 2px 40px;
  cursor: pointer;
}

form label {
  font-weight:bold;
}

#mapshot {
    float: right;
}
.mapimage {
  display: block;
  max-width:480px;
  max-height:480px;
  width: auto;
  height: auto;
  padding: 2vh;
  border: 10px solid #faf6f0;
}


h1 { 
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  margin-bottom: 3vh;
  margin-top: 2vh;
  color: rgb(103, 65, 6);
  text-align: center;
}

h2 { 
  font-family: monospace;
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 10px;
  text-align: left;
  margin-bottom: 2vh;
  padding: 20px 20px;
  background: rgb(250, 246, 240)
}

/** page structure **/
#wrapper {
  display: block;
  max-width:1200px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  padding: 10px 17px;
  text-align: center;
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 4vh;
  margin-top:4vh;
  background: rgb(250, 246, 240);
  width: 100%;
}
.head img {
    margin-top: 40px;
  display: inline;
}

.head h1 {
  display: inline;
  padding: 50px;
}
.head {
padding: 50px;
display: inline;
}

#keywords thead {
  cursor: pointer;
  background: #fbefdc;
}
#keywords thead tr th {
  font-weight: bold;
  padding: 2vh 1vw;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #f1e5ca;
}

/*#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}*/

#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 2vw 3vw;
}

.maplist_table tbody tr td {
  padding: 0 !important;
}

.maplist_table tbody tr td a {
  padding: 2vw 3vw;
  display: block;
}


#keywords tbody tr td.lalign {
  text-align: left;
}

.column {
  display: inline-flex;
  vertical-align: middle;
  margin: 1vh 3vw;
}

/* Clearfix (clear floats) */
.row::after {

  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.hoverthing{
	width: 100%; 
	border-collapse:collapse; 
}
/* Define the default color for all the table rows */
.hoverthing tr{
	background: #ffffff;
}
/* Define the hover highlight color for the table row */
.hoverthing tr:hover {
      background-color: #fffef4;
}
a {
    color: #000000;
    text-decoration: none;
}

